.banner{
    height: 90vh;
    background-image: url(/PaceRunningApp/Assets/banner-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner>*{
    margin-bottom: 50px;
  }

.banner h1{
    color: hsl(0, 0%, 100%);
}

#banner-heading{
    width: clamp(300px, 40vw, 500px);
}
